.connexion {
    margin-top: 10%;
}

/* Container principal */
.container {
    align-content: center;
    margin: 50px;
    width: 90%;
}

body {
    font-family: 'Vietnam Pro', sans-serif;
}


h2 {
    font-size: 37px;
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
    margin-bottom: 20px;
}

.form {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
}

/* Formulaire */
.formulaire-creation-compte {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.formulaire-connexion {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

/* Labels */
label {
    margin-bottom: 5px;
}

/* Champs d'entrée */
.input-field {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(227, 209, 200, 0.71);
    /* Beige avec opacité */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

select.input-field {
    -webkit-appearance: none;
    /* Supprime l'apparence par défaut */
    appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'><path d='M5 7l5 5 5-5H5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

.input-field:focus {
    background-color: rgba(227, 209, 200, 0.85);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.preview-img {
    border-radius: 8px;
    max-width: 100%;
    margin: 20px;
}

.footer p {
    font-size: 15px;
    position: relative;
}

.footer span {
    font-size: 15px;
    position: relative;
}

.footer span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #997765;
    transition: width 0.3s ease;
}

.footer span:hover::after {
    width: 100%;
}

.footer .link-connect {
    color: #997765;
    text-decoration: none;
}