body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 37px;
  font-family: 'Baloo 2', sans-serif;
  margin: 0px;
}

.header p {
  margin-top: 0;
  color: #555;
  margin-bottom: 2rem;
}

.container {
  width: 90%;
  margin: 0px 50px;
}

h2 {
  font-family: 'Be Vietnam Pro', sans-serif;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Boutons personnalisés */
.btn {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
  text-decoration: none;
  align-content: space-around;
}

/* Effet au survol */
.btn:hover {
  transform: scale(1.05);
}

.grid-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.category-block {
  background: #f6f4f4;
  padding: 1.5rem;
  border-radius: 12px;
}

.category-block h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: auto;
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* Boutons responsives */
@media screen and (max-width: 768px) {
  .button-grid-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes sur les écrans plus petits */
  }
}

@media screen and (max-width: 480px) {
  .button-grid-container {
    grid-template-columns: 1fr;
    /* 1 colonne sur les très petits écrans */
  }
}

@media screen and (max-width: 1075px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    /* Une seule colonne en responsive */
  }
}