body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: 0px 50px;
}

h1 {
    font-size: 37px;
    font-family: 'Baloo 2', sans-serif;
    margin: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 40px;
}

.tables {
    display: flex;
    gap: 2rem;
}

.table-box {
    flex: 1;
    background: #F4F1F1;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 1rem;
    overflow-x: auto;
}

.table-box h2 {
    gap: 15px;
    display: flex;
    align-items: flex-end;
}

.table-box h2 a {
    font-size: small;
    color: black;
}

.table-box h2 a:hover {
    text-decoration: underline;

}


.table-box.client {
    max-width: 30%;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    font-weight: 700;
}

tr:nth-of-type(even) {
    background-color: #ffffff;
}

.actions {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.btn {
    background: black;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 945px) {
    .tables {
        display: flex;
        flex-direction: column;
    }

    .table-box.client {
        max-width: none;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 26px;
        margin-top: 5px;
        line-height: 1.5rem;
    }

    p {
        margin-bottom: 10px;
        font-size: 15px
    }

    .tables {
        gap: 1rem;
    }

    .table-box {
        padding: 1rem;
        margin-top: 1rem;
    }

    .table-box h2 {
        font-size: 18px;
    }

    .table-box h2 a {
        font-size: 12px;
    }

    .table-box.client {
        max-width: 100%;
    }

    th,
    td {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 80%;
        margin: 0px 40px;
    }

    h1 {
        font-size: 24px;
        margin-top: 5px;
        line-height: 1.5rem;
    }

    p {
        margin-bottom: 10px;
        font-size: 13px
    }

    .tables {
        gap: 1rem;
    }

    .table-box {
        padding: 1rem;
        margin-top: 1rem;
    }

    .table-box h2 {
        font-size: 17px;
    }

    .table-box h2 a {
        font-size: 9px;
    }

    .table-box.client {
        max-width: 100%;
    }

    th,
    td {
        font-size: 12px;
    }
}