/* Container principal */
body {
    font-family: 'Vietnam Pro', sans-serif;
}

.container {
    width: 90%;
    margin: 0px 50px;
}

h2 {
    font-size: 37px;
    font-family: 'Baloo 2', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Responsive table container */
.tab-container {
    overflow-x: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
    width: 100%;
    position: relative;
}

.styled-table thead tr {
    background-color: black;
    color: white;
    text-align: left;
}

.styled-table tbody tr {
    background-color: #e3d1c8;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f2e9e3;
}

.styled-table th,
.styled-table td {
    padding: 20px 15px;
    text-align: center;
    white-space: nowrap;
    border: none;
    width: 20%;
}

.styled-table td .id {
    text-decoration: underline;
    color: black;
}

.styled-table thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    z-index: 3;
}

/* Dernière colonne sticky (ACTION) */
.styled-table td:last-child {
    position: sticky;
    right: 0;
    background-color: #F4F1F1;
    z-index: 10;
    min-width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table th.sticky-col {
    position: sticky;
    right: 0;
    background-color: #545353;
}

.actions a,
.actions span {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-decoration: none;
    margin: auto 5px;
}

.actions .vert:hover {
    background-color: #28a745;
}

.actions .rouge:hover {
    background-color: #dc3545;
}

.nav {
    border-top: 1px solid #eee;
    margin-top: 1em;
    padding-top: 0.5em;
    font: 1.2em sans-serif;
    margin-right: 0px;
    display: flex;
    justify-content: center;
}

.btn-order {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    font-weight: 600;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}

.option .section-button {
    display: flex;
    gap: 5px;
}


/* Effet au survol */
.btn:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1070px) {
    .option {
        align-items: stretch;
        flex-direction: column-reverse;
    }
}
    @media screen and (max-width: 768px) {
        h2 {
            margin-top: 10px;
            font-size: 26px;
            line-height: 1.5rem;
        }

        .actions a,
        .actions span {
            font-size: 14px;
            padding: 8px;
        }

        .btn-order img {
            width: 15px;
        }

        .option .section-button {
            margin-top: 10px;
        }

    }

    @media (max-width: 580px) {
        .option {
            flex-direction: column-reverse;
            margin-top: 20px;
            align-items: flex-start
        }
    }

    /* ================= MOBILE ================= */
    @media (max-width: 500px) {
        .container {
            width: 80%;
            margin: 0px 40px;
        }

        h2 {
            margin-top: 10px;
            font-size: 24px;
            line-height: 1.5rem;
        }

        .actions a,
        .actions span {
            font-size: 13px;
            padding: 8px;
        }

        .btn-order img {
            width: 15px;
        }

        .option {
            flex-direction: column-reverse;
            margin-top: 20px;
            align-items: flex-start
        }

        .option .section-button {
            margin-top: 10px;
        }
    }