/* Container principal */
.container {
    width: 90%;
    margin: 0px 50px;
}

body {
    font-family: 'Vietnam Pro', sans-serif;
}

h2 {
    font-size: 37px;
    font-family: 'Baloo 2', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Responsive table container */
.tab-container {
    overflow-x: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
    width: 100%;
}

.styled-table thead tr {
    background-color: black;
    color: white;
    text-align: left;
}

.styled-table tbody tr {
    background-color: #e3d1c8;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f2e9e3;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    white-space: nowrap;
    border: none;
    width: 20%;
}

.styled-table td .id {
    text-decoration: underline;
    color: black;
}

.styled-table thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    z-index: 3;
}

/* Dernière colonne sticky (ACTION) */
.styled-table td:last-child {
    position: sticky;
    right: 0;
    background-color: inherit;
    z-index: 2;
    min-width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table th.sticky-col {
    position: sticky;
    right: 0;
}

.styled-table td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 32px;
    margin-left: auto;
}

.actions a,
.actions span {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-decoration: none;
}

.actions .vert:hover {
    background-color: #28a745;
}

.actions .rouge:hover {
    background-color: #dc3545;
}

.nav {
    border-top: 1px solid #eee;
    margin-top: 1em;
    padding-top: 0.5em;
    font: 1.2em sans-serif;
    margin-right: 0px;
    display: flex;
    justify-content: center;
}

.btn-order {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    font-weight: 600;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn {
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    border: none;

}

/* Effet au survol */
.btn:hover {
    transform: scale(1.05);
}

/* Media query pour les très petits écrans */
@media screen and (max-width: 600px) {

    .styled-table th,
    .styled-table td {
        font-size: 0.8em;
        /* Réduit la taille de la police */
        padding: 8px;
        /* Réduit les marges */
    }
}