/* Section boutons processus */
.footer .buttons {
    display: flex;
    gap: 15px;
}

/* ================== BUTTONS ================== */

/* Bouton */
.btn-noir,
.btn-beige,
.btn-grey {
    background-color: #997765;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease;
    text-decoration: none;
    font-size: 14px;
}

button {
    appearance: none;
}

/* Boutons en noir */
.btn-noir {
    background-color: #000;
    color: #fff;
}

.btn-grey {
    background-color: #f4f1f1;
    color: black;
}

/* Effet zoom au survol */
.btn-beige:hover,
.btn-noir:hover,
.btn-grey:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}


/* ADMIN */

/* button section */
.button-section {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.button-section p {
    font-size: 15px;
    position: relative;
    /* Nécessaire pour que ::after utilise .button-section p comme référence */
}

.button-section span {
    font-size: 15px;
    position: relative;
    /* Nécessaire pour que ::after utilise .button-section p comme référence */
}

.button-section span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    /* Position du soulignement juste en dessous du texte */
    width: 0;
    height: 1px;
    background-color: #997765;
    transition: width 0.3s ease;
}

.button-section span:hover::after {
    width: 100%;
    /* Le soulignement s'étend sur toute la largeur au survol */
}


.button-section .link-connect {
    color: #997765;
    text-decoration: none;
    cursor: pointer;
}


.button-section .buttons {
    gap: 15px;
}

.button-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

input {
    appearance: none;
    color: black;
}

.visible input {
    appearance: auto !important;
}

.button-section input {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.button-footer {
    text-align: right;
}

/* Button slider */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #997765;
}

input:focus + .slider {
  box-shadow: 0 0 1px #997765;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 500px) {

    /* Bouton */
    .btn-noir,
    .btn-beige,
    .btn-grey {
        font-size: 12px;
    }

    /* ADMIN */

    /* button section */
    .button-section {
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .button-section p {
        font-size: 12px;
    }

    .button-section span {
        font-size: 12px;
    }

    .button-section button {
        padding: 10px 10px;

    }

}
/* 
@media (max-width: 1024px) {
    button#pdf-btn.btn-noir {
        display: none;
    }
} */