body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0px 50px;
}

h2 {
  font-size: 37px;
  font-family: 'Baloo 2', sans-serif;
  margin-bottom: 20px;
  margin-top: 0px;
}

.tableau {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.tab {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: #f4f1f1;

}

.tab.active {
  background-color: #000000;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tab:not(:last-child) {
  margin-right: 5px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.commande {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: rgba(227, 209, 200, 0.85);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info p {
  margin: 5px 0;
}

.actions .img {
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
  width: 20px;
}

.actions .img-admin {
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
  width: 18px;
}

/* Styles pour les icônes */
.actions {
  font-size: 1.9rem;
  margin-right: -3px;
  text-decoration: none;
  color: #000000;
  /* Couleur des icônes */
  transition: color 0.3s ease;
  cursor: pointer;
}

.actions .vert:hover {
  color: #25a042;
  /* Vert pour Modifier */
}

.actions .rouge:hover {
  color: #dc3545;
  /* Rouge pour Supprimer */
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.nav {
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 0.5em;
  font: 1.2em sans-serif;
  margin-right: 0px;
  display: flex;
  justify-content: center;
}

.btn-order {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  background-color: #000000;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: small;
  gap: 7px;

}

.filtre-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filtre {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
}

.filtre .search-bar {
  margin-bottom: 0px;
}