/* Styles généraux */
.body {
  font-family: 'Be Vietnam Pro', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Baloo 2', sans-serif;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
  /* Animation de fondu */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.img {
  width: 50%;
  /* Utilise toute la largeur disponible */
  max-width: 1200px;
  /* Limite la largeur maximale */
  height: auto;
  /* Maintient les proportions */
  max-height: 400px;
  /* Limite la hauteur maximale */
  object-fit: cover;
  /* Recadre l'image pour remplir le conteneur */
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
  /* Appliquer la même animation que pour le texte */
}

.buttons {
  margin-top: 30px;
  animation: slideIn 1s ease-in-out;
  /* Animation de glissement */
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-valider {
  background-color: #000000;
  color: #fff;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  /* Combinez les deux transitions */
  text-decoration: none;
  /* Supprimer le soulignement */
}

.btn-valider:hover {
  background-color: #555555;
  transform: scale(1.1);
  /* Agrandir légèrement le bouton au survol */
}