/* --------------- GENERAL --------------- */
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard h2 {
  text-align: left;
  font-family: 'Baloo 2', sans-serif;
}

.dashboard .h2-center {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
  text-align: center;
}

/* --------------- BOUTTONS --------------- */
.boutons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.boutons-container button {
  margin-top: 10px;
  width: 250px;
  max-width: 100%;
  box-sizing: border-box;
}

/* --------------- SECTION PERSONNALISATION --------------- */
.customize-section {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1134px;
  width: calc(100% - 160px);
  margin: 0 auto;
  padding: 2rem 0 2rem;
  gap: 2rem;
}

.customize-text {
  flex: 1;
}

.customize-text h2 {
  font-size: 2.25rem;
  color: #212529;
  margin-bottom: 1.75rem;
  line-height: 1.2;
}

.customize-features {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.customize-features li {
  display: flex;
  align-items: left;
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

.feature-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
}

/* ------- IMAGE ET BLOB ------- */
.customize-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  height: auto;
}

.customize-image .sofa {
  width: 100%;
  max-width: 574px;
  background-image: url("../medias/blob.png");
  height: auto;
  object-fit: contain;
  z-index: 2;
  background-size: cover;
  background-position-y: center;
}

.customize-image .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  z-index: -1;
  pointer-events: none;
}


@media (max-width: 1052px) {

  /* ----------- CUSTOMIZE SECTION ----------- */
  .customize-section {
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 2rem 4rem;
    gap: 2rem;
    width: 100%;
    margin-top: 0rem;

  }

  .customize-text h2 {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .customize-features li {
    justify-content: left;
    text-align: left;
  }

  .customize-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .customize-image .sofa {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .customize-image .blob {
    display: none;
  }
}


@media (max-width: 768px) {

  /* ----------- RESPONSIVE GLOBAL (H2) ----------- */
  h2 {
    font-size: 1.6rem;
  }

  /* ----------- HERO  ----------- */
  .hero-img {
    height: 450px;
  }

  .hero-title {
    font-size: 2.25rem;
    margin-top: 25px;
  }

  .hero-content {
    padding: 1.5rem;
  }

  /* ----------- COMBINATION CONTAINER ----------- */
  .combination-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }

  .combination-section .combination-container h2 {
    text-align: left !important;
  }

  /* ----------- BOUTONS CONTAINER ----------- */
  .boutons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .boutons-container form {
    width: 100%;
  }

  .boutons-container button {
    width: 100%;
  }
}



@media (max-width: 535px) {

  /* ----------- CUSTOM SECTION ----------- */
  .customize-section {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 5rem;

  }

  .customize-text h2 {
    font-size: 1.4rem;
  }

  .customize-features {
    margin-bottom: -5rem;
  }

  .customize-features li {
    font-size: 0.95rem;
  }

  .customize-image .sofa {
    max-width: 420px;
  }
}

@media (max-width: 480px) {

  /* ----------- RESPONSIVE GLOBAL (H2) ----------- */
  h2 {
    font-size: 1.4rem;
  }

  /* ----------- HERO  ----------- */
  .hero-img {
    height: 500px;
  }

  .hero-section {
    height: 80vh;
  }

  .hero-content button {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }

  /* ----------- CANAP PREFAIT ----------- */
  .combination-container {
    grid-template-columns: 1fr !important;
  }

  .combination-section .combination-container h2 {
    text-align: left !important;
  }
}