.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.search-bar {
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: rgba(227, 209, 200, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.search-bar input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

.search-bar button {
    padding: 8px 12px;
    font-size: 16px;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 10px;
    margin-left: 8px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #333;
}

.footer p {
    margin-bottom: 20px;
}

.php-message-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.php-message-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}