.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #E3D1C8;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

.popup-content p {
  font-size: 16px;
  margin: 0 0 10px;
}

.popup-content ul {
  text-align: left;
  margin: 19px 0px;
}

/* ============ RESPONSIVE POPUP ============ */
@media (max-width: 768px) {
  .popup-content {
    width: 60%;
    padding: 15px;
    border-radius: 15px;
  }

  .popup-content h2 {
    font-size: 18px;
  }

  .popup-content p {
    font-size: 14px;
  }

  .close-btn,
  .close-btn-selection,
  .btn-close,
  .close-erreur-btn,
  .yes-btn,
  .no-btn,
  .pdf-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 500px) {
  .popup-content {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
  }

  .popup-content h2 {
    font-size: 16px;
  }

  .popup-content p {
    font-size: 13px;
  }

  .popup-content ul {
    font-size: 12px;
    margin-left: 5px;
  }


  .close-btn,
  .close-btn-selection,
  .btn-close,
  .close-erreur-btn,
  .yes-btn,
  .no-btn,
  .pdf-btn {
    font-size: 12px;
    padding: 6px 12px;
  }

  .yes-btn,
  .no-btn {
    margin: 8px;
  }
}