body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    font-family: 'Baloo 2', sans-serif;
    margin-bottom: 0;
}

.form {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.input-field {
    width: 95%;
}

.buttons {
    margin-top: 10px;
}

.footer {
    margin-top: 15px;
    font-size: 14px;
}

.link-connect {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.link-connect:hover {
    text-decoration: underline;
}

input,
select {
    appearance: none;
    color: black;
}

/* Wrapper en position relative */
.input-section {
    position: relative;
    width: 100%;
}

.input-section .input-field {
    width: 100%;
    padding-right: 4.1rem;
    box-sizing: border-box;
}

/* Champ de confirmation de mot de passe */
.password-confirm-wrapper {
    position: relative;
}

#match-message {
    font-size: 0.9em;
    margin-top: 5px;
    color: red;
    display: none;
    text-align: left;
}

/* Si les mots de passe ne correspondent pas */
.input-error {
    border: 1px solid red;
}

.input-valid {
    border: 1px solid green;
}