/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* ------------------- HERO SECTION  ------------------- */
.hero-section {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
  filter: brightness(70%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
  max-width: 800px;
  padding: 2rem;
}

.hero-title {
  font-family: 'Baloo 2', sans-serif;
  font-size: 2.80rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  line-height: 1.2;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* ------------------- MODAL SECTION PRODUITS ------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.modal-content {
  background-color: white;
  max-width: 500px;
  width: 90%;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  margin: 0;
}


.close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.voir-plus {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #155724;
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

.check-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ajt-panier {
  background-color: #997765;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
  text-decoration: none;
  font-size: 14px;
}

.ajt-panier:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.img-panier {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.product-info {
  padding: 1.5rem;
}

.product-info h3 {
  margin: 0 0 0.5rem;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.product-info p {
  color: #000000;
  margin: 0.5rem 0;
  font-size: 14px;

}

/* ------------------- SECTION COMBINAISONS ------------------- */
.combination-section {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 4rem auto;
  max-width: 1145px;
}

.combination-section h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
  text-align: left;
  font-family: 'Baloo 2', sans-serif;
  line-height: 1.2;
}

.combination-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.product-card {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  padding: 0;
}

.product-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.product-content {
  padding: 1rem;
}

.product-card h3 {
  font-size: 1.125rem;
  margin: 0.5rem 0 0.25rem;
  color: #000000;
}

.product-card p {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: bold;
  color: #997765 !important;
  font-size: 1.1rem !important;
  justify-content: right !important;
  align-items: right !important;
  margin-bottom: 0.25rem;
}

.btn-fullwidth {
  width: 100%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin-top: 1rem;
}

.carousel-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
  position: relative;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container .product-card {
  flex: 0 0 calc((100% - 3rem) / 3);
  scroll-snap-align: start;
}

/* --------------- AVANTAGES CARD --------------- */
.avantages-card {
  background-color: rgba(227, 209, 200, 0.9);
  border-radius: 20px;
  margin: 4rem auto;
  max-width: 1145px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  gap: 10px;
}

.avantages-text {
  flex: 1 1 60%;
  padding: 2rem;
  padding-right: 3rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avantages-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #000000;
  line-height: 1.2;
}

.avantages-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.avantages-text li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #000000;
}

.avantages-text li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
}

.avantages-img {
  flex: 0 0 520px;
  height: auto;
  position: relative;
}

.avantages-img img {
  height: 100%;
  width: 100%;
  border-radius: 100px 0 0 100px;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.686);
}

/* --------------- SECTION STAT --------------- */
.stats-section {
  background-color: rgba(227, 209, 200, 0.9);
  padding: 4rem 2rem;
  text-align: center;
  margin: 4rem auto;
  max-width: 1145px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stats-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000000;
  line-height: 1.2;
}

.stats-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats-list li {
  font-size: 1.2rem;
  color: #000000;
}

.stats-list strong {
  display: block;
  font-size: 2rem;
  color: #997765 !important;
  font-weight: 700;
  margin-bottom: 0.5rem;
}


/* ------------------- RESPONSIVE ------------------- */
@media (max-width: 1500px) {
  .hero-section {
    height: 60vh;
  }

  .hero-title {
    font-size: 2.80rem;
  }

  .hero-description {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .hero-content {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .avantages-card {
    flex-direction: row;
  }

  .avantages-text {
    flex: 1 1 auto;
    padding: 1.5rem;
  }

  .avantages-img {
    flex: 0 0 120px;
    display: block;
  }

  .avantages-img img {
    border-radius: 50px 0 0 50px;
  }

  .avantages-text h2 {
    font-size: 1.6rem;
    text-align: left;

  }

  .avantages-text li {
    font-size: 1rem;
  }

  .carousel-container .product-card {
    flex: 0 0 min(300px, 90%);
  }

  .combination-section h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 824px) {
  .hero-section {
    height: 70vh;
  }

  .hero-title {
    font-size: 2.25rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-content {
    padding: 1.5rem;
  }

  .modal-content {
    padding: 1rem;
  }
}


@media (max-width: 768px) {
  .stats-section {
    padding: 3rem 1.5rem;
    margin: 3rem auto;
  }

  .stats-section h2 {
    font-size: 1.6rem !important;
    margin-bottom: 1.4rem !important;
  }

  .stats-list {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .stats-list li {
    font-size: 1.1rem;
  }

  .stats-list strong {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .carousel-container .product-card {
    flex: 0 0 100%;
  }
}

@media (max-width: 480px) {

  /* ----------- HERO  ----------- */
  .hero-content button {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }

  .hero-title {
    font-size: 1.75rem;
  }

  .hero-description {
    font-size: 0.9rem;
  }

  /* ----------- STATS SECTION ----------- */
  .stats-section {
    padding: 2rem 1rem;
    margin: 2rem auto;
  }

  .stats-section h2 {
    font-size: 1.4rem !important;
    margin-bottom: 1.5rem !important;
  }

  .stats-list {
    flex-direction: column;
  }

  .stats-list li {
    font-size: 1rem;
  }

  .stats-list strong {
    font-size: 1.5rem;
  }

  /* ----------- AVANTAGES SECTION ----------- */
  .avantages-card {
    flex-direction: column;
  }

  .avantages-img {
    display: none;
  }

  .avantages-text {
    padding: 1rem;
  }

  .avantages-text h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .avantages-text li {
    font-size: 0.95rem;
  }

  /* ----------- CANAP PREFAIT SECTION ----------- */
  .combination-section h2 {
    font-size: 1.4rem;
    text-align: center;
  }
}